.product{
    padding: 24px;
    font-size: 24px;
}

.product__rows{
    display: flex;
}

.product__colimg,
.product__col {
    flex: 1;
}

.product__colimg{
    max-width: 15%;
    margin-right: 25px;
}